/* Section Styling */

.img-container {
	padding: 0;
}

/* Content Sections */

.mid-section {
	padding: 0;
	background-color: #bdbdbd;
	padding: 20px;
	margin-bottom: 10px;
    border-radius: 10px;
}

.mid-bc {
	background-color: #bdbdbd;
}

/* Index */
.front-imgblock {
	padding: 30px;
	background-color: #e7e8eb;
	text-align: center;
	font-family: Verdana, Tahoma, sans-serif;
	font-style: bold;
	border-radius: 10px;
}

.front-img {
	padding: 0;
	background-color: #f8f8f8;
	padding: 20px;
	margin-bottom: 10px;
    border-radius: 10px;
	border-style: outset;
	box-shadow: 0px 1px 0px 1px rgb(44, 43, 43);
	text-decoration: underline;
}

.front-img a img {
	height: 100%;
	width: 100%;
}

.front-text ul {
	border-radius: 5px;
} 

.front-text {
	padding-top: 20px;
	text-align: center;
	font-weight: 400;
	background-color: #eff2f5;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 12px;
	border-radius: 10px;
	border-style:groove;
}

.front-text h4 {
	font-weight: 600;
}

.custom-anchor {
	font-size: 100% !important;
}

.position {
	padding: 10px;
}