/* global variable definitions */
:root {
  --primary-color: #242422;
  --secondary-color: #393b19;
  --font-primary: Georgia, 'Times New Roman', Times, Serif;
  --font-secondary: Verdana, Tahoma, sans-serif;    
}

/*defining variables*/

.jumbotron {
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:rgb(174, 177, 167);
}

header h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  text-shadow: 2px 2px #e7e3d6;
}

header p {
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-style: italic;
}

h2 {
  text-align: center;
  font-size: medium;
  color:rgb(225, 230, 212);
  font-family: 'Satisfy', cursive;
}

nav div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav div ul li {
  margin: 0 5px;
  padding: 5px 5px;
}

nav div ul li a {
  font-size: 15px;
  border-radius: 15px;
  padding: 5px 5px;
  font-family: var(--font-secondary);
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: underline;
}

.navbar .nav-item {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-text {
  margin-left: -10px;
  /* margin-right: -5%; */
}

.custom-form * {
  margin-top: 2vh;
}

.customform {
  border-radius: 10px;
}
